<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body class="min-h-svh">
    <%- include('./partials/nav') %> About
    <br><%- include('./partials/footer') %>
  </body>
</html>
