<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body class="h-svh">
    <div
      class="flex justify-end h-screen"
      style="
        background-image: url('/bg-1c.jpg');
        background-repeat: no-repeat;
        background-position: -10px 0;
      "
    >
      <form class="login-form w-[45%] flex flex-col p-10 px-16 bg-white">
        <h1 class="text-4xl font-bold">Login</h1>
        <p class="mt-3 text-gray-400">
          Welcome Back! Please Login to your account
        </p>
        <div class="flex flex-col mt-10 gap-2">
          <p>Username:</p>

          <input
            class="input_username rounded-md border-2 p-[4px]"
            type="text"
            name="username"
          />

          <p>Password:</p>

          <input
            class="input_password rounded-md border-2 p-[4px]"
            type="password"
            name="password"
          />
          <a
            href="#"
            class="text-right text-gray-400 text-sm hover:text-blue-600"
            >Forgot Password ?</a
          >

          <input
            class="bg-gray-300 hover:bg-gray-600 hover:text-white px-2 cursor-pointer rounded-md border border-gray-400 mt-4 p-[4px]"
            type="submit"
            value="Login"
          />
          <span
            class="error text-xs text-red-500 font-bold absolute bottom-44"
          ></span>

          <p class="mt-16 text-gray-400">
            <b>New User ?</b>
            <a href="../user/register" class="w-fit hover:text-blue-600">
              <button type="button">Sign Up</button>
            </a>
          </p>
        </div>
      </form>
    </div>
  </body>
</html>

<script>
  const form = document.querySelector(".login-form");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    const username = document
      .querySelector(".input_username")
      .classList.remove("border-red-500");
    const password = document
      .querySelector(".input_password")
      .classList.remove("border-red-500");

    const formData = new FormData(form);
    let res = await fetch("/user/login", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(Object.fromEntries(formData)),
    });

    let data = await res.json();
    if (!res.ok) {
      document.querySelector(".error").innerHTML = data.error;
      if (data && data.emptyFields) {
        data.emptyFields.forEach((field) => {
          let input = document.querySelector(`.input_${field}`);
          input.classList.add("border-red-500");
        });
      }
    }
    if (res.ok) {
      document.querySelector(".error").innerHTML = "";
      if (data && data.redirect) {
        window.location.href = data.redirect;
      }
    }
  });
</script>
