<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body class="h-svh">
    <div
      class="flex justify-end h-screen"
      style="
        background-image: url('/bg-1c.jpg');
        background-repeat: no-repeat;
        background-position: -10px 0;
      "
    >
      <form
        action="/user/login"
        method="POST"
        class="w-[45%] flex flex-col p-10 px-16"
      >
        <h1 class="text-4xl font-bold">Login</h1>
        <p class="mt-3 text-gray-400">
          Welcome Back! Please Login to your account
        </p>
        <div class="flex flex-col mt-10 gap-2">
          <p>Username:</p>

          <input
            class="rounded-md border-2 p-[4px] border-gray-300"
            type="text"
            name="username"
          />

          <p>Password:</p>

          <input
            class="rounded-md border-2 p-[4px] border-gray-300"
            type="password"
            name="password"
          />
          <a href="#" class="text-right text-gray-400 text-sm hover:text-blue-600">Forgot Password ?</a>

          <input
            class="bg-gray-300 hover:bg-gray-600 hover:text-white px-2 cursor-pointer rounded-md border border-gray-400 mt-4 p-[4px]"
            type="submit"
            value="Login"
          />

          <p class="mt-16 text-gray-400">
            <b>New User ?</b>
            <a href="../user/register" class="w-fit hover:text-blue-600">
              <button type="button">Sign Up</button>
            </a>
          </p>
        </div>
      </form>
    </div>
    <script>
      // Get the URL parameters
      const urlParams = new URLSearchParams(window.location.search);
      // Check if the 'error' parameter is present
      if (urlParams.has("error") && urlParams.get("error") === "invalid") {
        // Display the error message
        alert("Invalid username or password");
      }
    </script>
  </body>
</html>
