<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body class="h-svh">
    <div
      class="flex justify-end h-screen"
      style="
        background-image: url('/b-4c.jpg');
        background-repeat: no-repeat;
        background-position: left bottom 20%;
        background-size: 60%;
      "
    >
      <form class="register-form w-[45%] bg-white flex flex-col p-10 px-16">
        <h1 class="text-4xl font-bold">Register</h1>
        <p class="mt-3 text-gray-400">
          Register yourself to use Contact Management App
        </p>
        <div class="flex flex-col mt-10 gap-2">
          <p>Username:</p>

          <input
            class="input_username rounded-md border-2 p-[4px]"
            type="text"
            name="username"
          />
          <p>Email:</p>

          <input
            class="input_email rounded-md border-2 p-[4px]"
            type="email"
            name="email"
          />

          <p>Password:</p>

          <input
            class="input_password rounded-md border-2 p-[4px]"
            type="password"
            name="password"
          />

          <input
            class="bg-gray-300 hover:bg-gray-600 hover:text-white px-2 cursor-pointer rounded-md border border-gray-400 mt-4 p-[4px]"
            type="submit"
            value="Register"
          />
          <span
            class="error text-xs text-red-500 font-bold absolute bottom-[138px]"
          ></span>

          <p class="mt-16 text-gray-400">
            <b>Already a User ?</b>
            <a href="../user/login" class="w-fit hover:text-blue-600">
              <button type="button">Login In</button>
            </a>
          </p>
        </div>
      </form>
    </div>
  </body>
</html>

<script>
  const form = document.querySelector(".register-form");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    const username = document
      .querySelector(".input_username")
      .classList.remove("border-red-500");
    const password = document
      .querySelector(".input_password")
      .classList.remove("border-red-500");
    const email = document
      .querySelector(".input_email")
      .classList.remove("border-red-500");

    const formData = new FormData(form);
    let res = await fetch("/user/register", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(Object.fromEntries(formData)),
    });

    let data = await res.json();
    if (!res.ok) {
      document.querySelector(".error").innerHTML = data.error;
      if (data.emptyFields) {
        data.emptyFields.forEach((field) => {
          let input = document.querySelector(`.input_${field}`);
          input.classList.add("border-red-500");
        });
      }
    }
    if (res.ok) {
      document.querySelector(".error").innerHTML = "";
      if (data && data.redirect) {
        window.location.href = data.redirect;
      }
    }
  });
</script>
